# Ignore test outputs
tests/out/

# Generated docs
docs/

# Node.js
node_modules/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnpm-debug.log
# DO NOT ignore pnpm-lock.yaml! Commit it for reproducible installs.
coverage/
/dist/
build/
.nyc_output/
logs/
*.log
*.tsbuildinfo
.idea/
.vscode/
*.tgz
.cache/
.eslintcache

# Optional: OS and editor files
Thumbs.db
*.swp
*.swo
*.swn
*.bak
*.tmp
*.orig
*.rej

# Test output
junit.xml
